<% layout('../default_layout') -%>
<div class="splash splash-inverse">
    <div class="container">
        <h1>Welcome!<i class="pull-right icon-code icon-4x"></i></h1>
        <p>
            This application help to create a webapp MVC `style` app in few minutes.<br>
            A simple MVC boilerplate for <a href="http://expressjs.com/">Express</a> backed by <a href="http://camintejs.com/">Caminte</a>.<br>
            TrinteJS is built to work best in the latest desktop and mobile browsers, meaning older and less advanced browsers might receive a less stylized, though fully functional, version of certain components.
        </p>
        <br/>
        <div>
            <a class="btn btn-info btn-large" target="_blank" href="https://github.com/biggora/trinte">
                Learn more on Github
            </a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-sm-6">
            <h3 class="tr-feat-header"><i class="icon-file-alt"></i> Easy to Install</h3>
            <p>Installation is done using the NodeJS Package Manager (npm).<code>sudo npm install trinte -g</code></p>
        </div>
        <div class="col-lg-4 col-sm-6">
            <h3 class="tr-feat-header"><i class="icon-github"></i> Open Source</h3>
            <p>TrinteJS are licensed under MIT and maintained by the community on <a target="_blank" href="https://github.com/biggora/trinte">GitHub</a>.</p>
        </div>
        <div class="col-lg-4 col-sm-6">
            <h3 class="tr-feat-header"><i class="icon-cogs"></i> Modular</h3>
            <p>TrinteJS is a MVC boilerplate, for faster and easier web development..</p>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <h3>The following controllers are available:</h3>
            <% if (controllers.length) { %>
            <ul>
                <% controllers.forEach(function(controller){ %>
                <li><a href="/<%= controller %>"><i class="icon-file-text"></i>  <b><%= controller %></b></a></li>
                <% }) %>
            </ul>
            <% } else { %>
            <div class="well">
                No controllers available - try <code>'trinte script generate-all ModelName'</code> or <code>'trinte g crud ModelName'</code>
            </div>
            <% } %>
            <br/>
            <div class="well">
                You are viewing the default home page - edit <code>views/app/index.ejs</code> to edit this page!
            </div>
        </div>
        <div class="clearfix"><br/></div>
        <div class="col-lg-12">
            <h4 id='usage'>Usage overview:</h4>
            <pre>$ trinte [command(s)] [argument(s)]</pre>
            <p>Command format:</p>
            <pre>
  cluster *port=3000                : Run the application using the cluster module.
  server *port=3000                 : Run the application as a server.
  test                              : Run all tests.
  test unit|integration|functional  : Run a particular type of test.
  script help *&lt;name&gt;               : This help script, optional script name for additional help.
  script &lt;name&gt; *args               : Run a script with &lt;name&gt;, with params

  Available scripts:

  create-controller  args           : Creates a controller
  create-model  args                : Creates a model
  create-test  args                 : Creates a test
  create-view  args                 : Creates a view
  generate-all  args                : Creates a scaffold
  help                              : Show help
            </pre>
            <h4 id='wiki'>Wiki pages:</h4>
            <ul>
                <li><a target="_blank" href="https://github.com/biggora/trinte#start">Get started!</a></li>
                <li>
                    <a target="_blank" href="https://github.com/biggora/trinte#usage">Usage overview</a>
                    <ul>
                        <li><a target="_blank" href="https://github.com/biggora/trinte#commands">Command format</a></li>
                        <li><a target="_blank" href="https://github.com/biggora/trinte#create-app">Create and initialize app</a></li>
                        <li><a target="_blank" href="https://github.com/biggora/trinte#scaffold">Creates a scaffold</a></li>
                        <li><a target="_blank" href="https://github.com/biggora/trinte#namespace">Creates a scaffold with Namespace</a></li>
                        <li><a target="_blank" href="https://github.com/biggora/trinte#model">Creates a Model</a></li>
                        <li><a target="_blank" href="https://github.com/biggora/trinte#controller">Creates a Controller</a></li>
                        <li><a target="_blank" href="https://github.com/biggora/trinte#view">Creates a View</a></li>
                        <li><a target="_blank" href="https://github.com/biggora/trinte#field-types">Field types</a></li>
                        <li><a target="_blank" href="https://github.com/biggora/trinte#runs-server">Runs server</a></li>
                    </ul>
                </li>
                <li>
                    <a target="_blank" href="https://github.com/biggora/trinte#directory-structure">Created application</a>
                    <ul>
                        <li><a target="_blank" href="https://github.com/biggora/trinte#app-config">Application configuration</a></li>
                        <li><a target="_blank" href="https://github.com/biggora/trinte#directory-structure">Directory structure</a></li>
                        <li><a target="_blank" href="https://github.com/biggora/trinte#routing">Routing and params</a></li>
                        <li><a target="_blank" href="https://github.com/biggora/trinte#middleware">Used Middleware</a></li>
                    </ul>
                </li>
                <li><a target="_blank" href="https://github.com/biggora/trinte#recommend">Recommend extensions</a></li>
                <li><a target="_blank" href="https://github.com/biggora/trinte#credits">Credits</a></li>
                <li><a target="_blank" href="https://github.com/biggora/trinte#author">Peoject Author</a></li>
                <li><a target="_blank" href="https://github.com/biggora/trinte#license">Copyright &amp; License</a></li>
                <li><a target="_blank" href="https://github.com/biggora/trinte#resources">Resources</a></li>
            </ul>
            <h4 id='credits'>Credits:</h4>
            <div>
                <ul>
                    <li><a target="_blank" href="http://nodejs.org/">Node.js</a>: Amazing javascript asynchronous IO library, install manually.</li>
                    <li><a target="_blank" href="http://npmjs.org/">NPM</a>: Node package manager, used to install:
                        <ul>
                            <li><a target="_blank" href="http://expressjs.com/">Express</a>: Application Framework for NodeJS</li>
                            <li><a target="_blank" href="http://camintejs.com/">Caminte</a>: Multi-database ORM (redis, mongodb, mysql, sqlite, postgres, neo4j) for NodeJS</li>
                            <li><a target="_blank" href="http://embeddedjs.com/">EJS</a>: Embedded Javascript Templating Library</li>
                            <li><a target="_blank" href="https://github.com/biggora/express-useragent">Express-Useragent</a>: Middleware exposing user-agent for NodeJS</li>
                        </ul>
                    </li>
                    <li><a target="_blank" href="http://jquery.com/">jQuery</a>: Best Javascript Library</li>
                    <li><a target="_blank" href="http://twitter.github.com/bootstrap/index.html">Bootstrap</a>: Powerful front-end CSS/JS framework</li>
                    <li><a target="_blank" href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a>: Fantastic library of precisely prepared icons and symbols.</li>
                </ul>
            </div>
            <h4>Contributing:</h4>
            <p>If you have found a bug please write unit test, and make sure all other tests still pass before pushing code to repo.</p>
            <br />
            <h4>Resources:</h4>
            <ul>
                <li>Visit the author <a href="http://www.gordejev.lv/">website.</a></li>
                <li>Follow <a href="https://twitter.com/#!/biggora">@biggora</a> on Twitter for updates.</li>
            </ul>
        </div>
    </div>
</div>