<footer id="footer" class="row">
    <div class="col-md-12">
        <p style="text-align: center">
            Based on Powerful MVC framework <a href="http://www.trintejs.com/" target="_new">TrinteJS</a> & Cross-db ORM <a href="http://www.camintejs.com/" target="_new">CaminteJS</a>
        </p>
    </div>
</footer>