<% layout('login_layout') -%>
<div class="container">
    <div class="row">
        <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-2 col-lg-6 col-sm-8 col-md-6 splash-inverse" style="margin-top:100px">
            <form class="form-inline" role="form" method="POST" action='/login'>
                <h2 class="login-header">
                    <img src='/img/logo-inverse-lg.png'>
                    <br/>
                    <span class="brand-text">APPNAME</span>
                </h2>
                <div class="form-group col-lg-6 col-sm-6 col-md-6">
                    <label class="sr-only" for="login">Login</label>
                    <input required name="login" type="text" class="form-control" id="login" placeholder="Enter login">
                </div>
                <div class="form-group col-lg-6 col-sm-6 col-md-6">
                    <label class="sr-only" for="password">Password</label>
                    <div class="">
                        <input required name='passw' type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                </div>
                <div class="clearfix"><br class="hidden-xs"/><br/></div>
                <div class="hidden-xs col-lg-12 col-sm-12" style="text-align:center">
                    <a href="/" class="btn btn-large btn-default"><i class="icon-home"></i> Back to home</span></a>
                    <button class="btn btn-large btn-default" type="clear"><i class="icon-remove"></i> Clear</button>
                    <button class="btn btn-large btn-default" type="submit"><i class="icon-signin"></i> Sign in</button>
                    <div class="clearfix"><br/></div>
                </div>
                <div class="visible-xs col-lg-12 col-sm-12" style="text-align:center">
                    <a href="/" class="btn btn-large btn-default"><i class="icon-home"></i></a>
                    <button class="btn btn-large btn-default" type="clear"><i class="icon-remove"></i></button>
                    <button class="btn btn-large btn-default" type="submit"><i class="icon-signin"></i></button>
                </div>
                <input type="hidden" name="_csrf" value="<%= session._csrf %>"/>
            </form>
            <div class="clearfix"><br/></div>
        </div>
    </div>

    <div class="row" style="margin-top: 150px">
        <footer id="footer">
            <p style="text-align: center;font-size: 10px;color: #ccc">
                Based on <a href="http://www.trintejs.com/" target="_new" style="color: #ccc">TrinteJS</a> & Cross-db ORM <a href="http://www.camintejs.com/" target="_new" style="color: #ccc">CaminteJS</a>
            </p>
        </footer>
    </div>
</div>