<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset='utf-8'>
        <meta name="generator" content="TrinteJS! - Javascript MVC Framework">
        <meta name="author" content="APPNAME">
        <title>APPNAME</title>
        <link type="text/css" href="/css/bootstrap.min.css" rel="stylesheet"/>
        <link type="text/css" href="/css/font-awesome.min.css" rel="stylesheet"/>
        <link type="text/css" href="/css/style.css" rel="stylesheet"/>
        <script type="text/javascript" charset="utf-8" src="/js/jquery.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="/js/bootstrap.min.js"></script>
        <meta name="csrf-param" content="_csrf">
        <meta name="csrf-token" content="<%= session._csrf %>">
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="/js/html5.js"></script>
        <![endif]-->
        <!--[if IE 7]>
          <link rel="stylesheet" href="/css/font-awesome-ie7.min.css">
        <![endif]-->
    </head>
    <body>
        <!--page content-->
        <%- body %>
        <script type="text/javascript" charset="utf-8" src="/js/app.js"></script>
    </body>
</html>