<div class='container'>
    <div class='messages row'>
        <div class='col-md-12'>
            <% var flash = request.flash('info').pop(); if (flash) { %>
            <div class="alert alert-info">
                <a class="close" data-dismiss="alert">×</a>
                <%- flash %>
            </div>
            <% } %>
            <% flash = request.flash('error').pop(); if (flash) { %>
            <div class="alert alert-error">
                <a class="close" data-dismiss="alert">×</a>
                <%- flash %>
            </div>
            <% }; %>
            <% flash = request.flash('warning').pop(); if (flash) { %>
            <div class="alert alert-warning">
                <a class="close" data-dismiss="alert">×</a>
                <%- flash %>
            </div>
            <% }; %>
            <% flash = request.flash('success').pop(); if (flash) { %>
            <div class="alert alert-success">
                <a class="close" data-dismiss="alert">×</a>
                <%- flash %>
            </div>
            <% }; %>
        </div>
    </div>
</div>