<% layout('../default_layout') -%>
<?
var modelVariable = modelName.toLowerCase();
var basePath = modelName.toLowerCase();
var basePathPlural = controllerName.toLowerCase();
var addIncl = namespace && namespace !== "" ? "../" : "" ;
var addView = namespace && namespace !== "" ? namespace + "/" : "" ;
var nsPath = namespace && namespace !== "" ? namespace + "_" : "" ;
?>
<!-- action page -->
<div id="content" class="container">
    <!-- page breadcrumb -->
    <ul class="breadcrumb">
        <li><a href="/<?= nsPath ?>"><i class="icon-home"></i> Home</a></li>
        <li class="active"><a href="#"><%- title %></a></li>
    </ul>
    <!-- page title -->
    <div class="page-header">
        <h1><%- title %></h1>
    </div>
    <!-- page content here -->
    <div class="row">
        <div class="col-lg-12">
            <?= basePathPlural ?>#<?= controllerAction ?>
        </div>
    </div>
</div>
<!-- end action page -->