<?
	var modelVariable = modelName.toLowerCase();
	var basePath = modelName.toLowerCase();
	var basePathPlural = controllerName.toLowerCase();
?>
<% layout('../layout') -%>
<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li><a href="/<?= basePathPlural ?>"><?= controllerName ?></a> <span class="divider">/</span></li>
    <li class="active"><a href="#">Show <?= modelName ?></a></li>
</ul>
<%- partial('../messages') %>
<!--page breadcrumb-->
<div class="page-header">
    <h1>Show <?= modelName ?></h1>
</div>

<div id="dialog-confirm" style="display: none;" title="Delete <?= modelVariable ?>?">
    <p>
        <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>This will be permanently deleted and cannot be recovered. Are you sure?
    </p>
</div>

<table class="table table-bordered">
    <tbody>
    <? fields.forEach(function (field) { ?>
    <tr>
        <th class="span4"><?= field.param_name ?></th>
        <td><%- formVal(<?= modelVariable ?>.<?= field.param_val ?>) %></td>
    </tr>
    <? }) ?>
    </tbody>
</table>

<div class="well">
    <a class="btn" href="/<?= modelVariable ?>/<%= <?= modelVariable ?>.id %>/edit"><i class="icon-edit"></i> Edit</a>
    <a class="btn btn-danger" href="/<?= modelVariable ?>/<%= <?= modelVariable ?>.id %>" data-remote="true" data-method="delete" data-jsonp="(function (u) {location.href = u;})"><i class="icon-remove icon-white"></i> Delete</a>
    <a class="btn" href="/<?= basePathPlural ?>" title="List <?= controllerName ?>"><i class="icon-tasks"></i> List <?= controllerName ?></a>
</div>


