<html>
  <head>
    <title>Sample MVC Application</title>
    	<link type="text/css" href="/css/bootstrap.min.css" rel="stylesheet" />
        <link type="text/css" href="/css/style.css" rel="stylesheet" />
        <link type="text/css" href="/css/bootstrap-responsive.min.css" rel="stylesheet" />
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script type="text/javascript" src="/js/bootstrap.min.js"></script>
		<script type="text/javascript">
			$(function(){
		
				// Style default buttons
				// TODO: Move this into an application js library
				$(".button-edit").button({ icons: {	primary: 'ui-icon-wrench' }	});
				$(".button-delete").button({ icons: { primary: 'ui-icon-trash' } });
				$(".button-home").button({ icons: {	primary: 'ui-icon-home'	} });
				$(".button-submit").button({ icons: { primary: 'ui-icon-disk' } });
				$(".button-cancel").button({ icons: {primary: 'ui-icon-close' } });
				
			});
			
		</script>
  </head>
  <body>  	
  	<div id="container">
	  	<div id="header">
			<h1><a href="/">Node.js + ExpressJs + Mongoose : Bootstrap</a></h1>
  			<h2>Simple Application Template and Scripts</h2>
		</div>
		<div id="content">
    		<%- body %>
    	</div>		
    </div>
  </body>
</html>