a {
  color: #8D096F;
}
a:hover {
  color: #5E2750;
}
#logo {
    display: block;
    float: left;
    padding: 8px;
    margin-top: 4px;
}
.messages {
    margin-top: 60px;
}
.tr-nav {
    text-shadow: 0 -1px 0 rgba(0,0,0,.15);
    background-color: #5E2750;
    border-color: #501E45;
    box-shadow: 0 1px 0 rgba(255,255,255,.1);
    color: #fff;
}
.modal-header {
    background-color: #5E2750;
    color: #fff;
}
.modal-header .close {
    color: #fff;
}
#dialog-confirm-header {
   float: left;
   font-size: 24px;
   margin: 5px 10px;
}
.tr-navbar-collapse .navbar-text,
.tr-navbar-collapse .navbar-text > a,
.tr-navbar-collapse .navbar-nav > li > a {
    color: #D8B7D6;
}
.tr-feat-header {
    color: #5E2750;
}
.tr-nav a.navbar-brand {
    color: #FFF;
}
.tr-hero {
    background-color: #5E2750;
    border-color: #87327F;
    color: #F8DDF8;
    margin-top: -25px;
}
.tr-hero p > a {
    color: #D07CD0;
    font-weight: bold;
}
.tr-hero p > a.btn {
    color: #5E2750;
}
.tr-features .heading-thumbnail {
    color: #77206E;
    text-align: center;
}

input.ajax-loading {
    background-image: url('/img/ajax-small.gif');
    background-repeat: no-repeat;
    background-position: center right;
}
/* Sorting columns */
a.sorter {
    background-image: url('/img/bg.gif');
    background-repeat: no-repeat;
    background-position: center left;
    color: #333;
    cursor: pointer;
    padding-left: 20px;
}

a.sorter.headerSortUp {
    background-image: url('/img/asc.gif');
}
a.sorter.headerSortDown {
    background-image: url('/img/desc.gif');
}