<% layout('../layout') -%>
<div class="hero-unit">
    <h1>Welcome!</h1>

    <p>I built this application to create a template MVC style app that I could then use as the start point for further development. I used the excellent examples in the main Express github repository, specifically the MVC example, as the starting point. I have however changed it quite substantially to make it clearer and remove some of the magic that confused me at first when learning. If you are familiar with other MVC frameworks hopefully my file structure makes some sense.</p>

    <p>
        <a target="_blank" href="https://github.com/biggora/trinte" class="btn btn-primary btn-large">
            Learn more
        </a>
    </p>
</div>

<p>The following controllers are available:</p>

<% if (controllers.length) { %>
<ul>
    <% controllers.forEach(function(controller){ %>
    <li><a href="/<%= controller %>"><%= controller %></a></li>
    <% }) %>
</ul>
<% } else { %>
<pre class='code'>
No controllers available - try 'eb script generate-all ModelName'
</pre>
<% } %>
<br/>
<pre class='code'>
You are viewing the default home page - edit views/app/index.html to edit this page!
</pre>
<br/>
<p>Credits:
<div style='font-size: 0.8em;'>
    <ul>
        <li><a href="http://nodejs.org/">Node.js</a>: Amazing javascript asynchronous IO library, install manually.</li>
        <li><a href="http://www.mongodb.org/">MongoDB</a>: NoSQL Database, install manually.</li>
        <li><a href="http://npmjs.org/">NPM</a>: Node package manager, used to install:
            <ul>
                <li><a href="http://expressjs.com/">Express</a>: Application Framework for Node.js</li>
                <li><a href="http://mongoosejs.com/">Mongoose</a>: Node.JS ORM for Mongo</li>
                <li><a href="http://embeddedjs.com/">EJS</a>: Embedded Javascript Templating Library</li>
            </ul>
        </li>
        <li><a href="http://jquery.com/">jQuery</a>: Javascript Library</li>
        <li><a href="http://jqueryui.com/">jQuery UI</a>: UI Library</li>
        <li>
            <a href="http://taitems.tumblr.com/post/482577430/introducing-aristo-a-jquery-ui-theme">jQuery Aristo Template</a>: Fantastic looking jQuery UI Template.
        </li>
    </ul>
</div>
</p>
