<% layout('../layout') -%>
<div class="hero-unit">
    <h1>Welcome!</h1>
    <p>This application help to create a webapp MVC `style` app in few minutes.</p>
    <p>
        <a target="_blank" href="https://github.com/biggora/trinte" class="btn btn-primary btn-large">
            Learn more on Github
        </a>
    </p>
</div>

<p>The following controllers are available:</p>

<% if (controllers.length) { %>
<ul>
    <% controllers.forEach(function(controller){ %>
    <li><a href="/<%= controller %>"><%= controller %></a></li>
    <% }) %>
</ul>
<% } else { %>
<pre class='code'>
No controllers available - try 'trinte script generate-all ModelName'
</pre>
<% } %>
<br/>
<pre class='code'>
You are viewing the default home page - edit views/app/index.html to edit this page!
</pre>
<br/>
<p>Credits:
<div style='font-size: 0.8em;'>
    <ul>
        <li><a href="http://nodejs.org/">Node.js</a>: Amazing javascript asynchronous IO library, install manually.</li>
        <li><a href="http://www.mongodb.org/">MongoDB</a>: NoSQL Database, install manually.</li>
        <li><a href="http://npmjs.org/">NPM</a>: Node package manager, used to install:
            <ul>
                <li><a href="http://expressjs.com/">Express</a>: Application Framework for Node.js</li>
                <li><a href="http://mongoosejs.com/">Mongoose</a>: Node.JS ORM for Mongo</li>
                <li><a href="http://embeddedjs.com/">EJS</a>: Embedded Javascript Templating Library</li>
            </ul>
        </li>
        <li><a href="http://jquery.com/">jQuery</a>: Best Javascript Library</li>
        <li><a href="http://twitter.github.com/bootstrap/index.html">Bootstrap</a>: Powerful front-end CSS/JS framework</li>
        <li>
            <a href="http://glyphicons.com/">Glyphicons</a>: Fantastic library of precisely prepared monochromatic icons and symbols.
        </li>
    </ul>
</div>
</p>
